.main-container{
    display: grid;
    grid-template-columns: 20% 80%;
    place-content: center;
    padding: 1.2rem 0;
    gap: 1.5rem;
}
#username{
    font-size: 1.5rem;
}
.page-box-selector{
    box-shadow: 0 0 3px var(--color-white);
    border-radius: 5px;
}
.page-box-header{
    background: var(--color-bg-4);
    padding: 0.85rem 1.2rem;
}
.page-header-text{
    font-size: 1.1rem;
}
.selector-list{
    padding: 0.85rem 0;
}
.selector-list-items{
    cursor: pointer;
    padding: 0.70rem 1.2rem;
    font-size: 0.95rem;
}
.selector-list-items.active{
    background: var(--color-white-variant);
}

/*if i click to the other list will remove the active from the list and and add new */
.selector-list-items:hover{
    background: var(--color-white-variant);
    color: var(--color-primary);
}
.list-items-container{
    margin-top: 2.7rem;
}
#list-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
#list-form label{
    font-size: 1rem;
    font-weight: 300;
    margin: 1rem 0;
}
.input-control{
    width: 100%;
    padding: 0.5rem;
}
.input-control:focus{
    outline: var(--color-bg-4) solid 1px;
}
#privacy-selection{
    background: var(--color-white-variant);
}
.submit-btn{
    padding: 0.35rem 1rem;
    border-radius: 0.35rem;
    background: var(--color-bg-4);
    color: var(--color-white);
    border: none;
    transition: background-color 0.3s ease-in-out;
    font-weight: 700;
    font-size: 0.95rem;
    margin-top: 1rem;
}
.submit-btn:hover{
    background: var(--color-bg-3);
}
