#my-list-header{
    background: var(--color-bg-3);
    padding: 1.5rem 0;
}
.my-list-title{
    font-weight: 700;
    font-size: 2rem;
}
.my-list-menu-bar{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.account-menu{
    display: flex;  
    align-items: center;
    gap: 0.8rem;
    line-height: normal;
}
.account-menu img{
    width: 3rem;
    height: auto;
}
.menu-context{
    font-size: 1.3rem;
    font-weight: 700;
}
.account-menu-info .menu-heading-small{
    color: var(--color-bg-3);
}
.btn--white-background{
    background: var(--color-white);
    border: none;
    color: var(--color-secondary);
    font-weight: 700;
    transition: all 0.5s ease;
}
.btn--white-background:not(:last-child){
    margin-right: 1rem;
}
.btn--white-background:hover{
    color: var(--color-black);
    background: var(--color-white);
}
.about-my-list{
    margin-top: 1rem;
}
/*LIST ITEMS*/
.list-items-container{
    min-height: 80vh;
}
.list-items{
    position: relative;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1rem;
}
.list-item-image-wrapper{
    height: 20rem;
}
.list-item-image{
    width: auto;
    height: 100%;
}
.list-flex-info{
    display: flex;
    justify-content: space-between;
    background: var(--color-bg-3);
    padding: 0.4rem 0.72rem;
    color: var(--color-white-variant);
    font-size: 0.89rem;
}
.item-dynamic-info{
    display: flex;
    gap: 0.8rem;
}
.fa-star-space{
    padding-right: 0.2rem;
}
.list-form-button{
    display: grid;
    place-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
.list-form-button-container{
    display: flex;
    gap: 1rem;
}
.submit-btn--padding-m{
    padding: 0.60rem 1.38rem;
    font-weight: 800;
}