.list-page{
    display: none;
}
.list-page.active{
    display: block;
}
#search{
    font-size: 0.95rem;
}
.search-form-group{
    display: flex;
    flex-direction: column;
}
.search-form-label{
    font-size: 0.9rem;
}
#search-form-input{
    padding: 0.35rem 0.5rem;
}
.search-movie-label{
    padding: 0 0 0.2rem 0;
    font-weight: 700;
}
.search-form-textarea{
    padding: 0.5rem
}
.search-form-save-container{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.search-movie-save{
    margin-top: 3rem;
}
.search-suggest{
    position: relative;
}
.search-suggest-list-wrapper{
    display: none;
    background: var(--color-white);
    position: absolute;
    top: 100%;
    width: 100%;
    height: 15rem;
    overflow-y: scroll;
}
.no-data-warning.show{
    display: block;
}
#search-suggest-list{
    padding: 1.5rem;
}
.no-data-warning{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
   color: var(--color-black);
}
.search-suggest-list-wrapper.show{
   display: block;
}
.suggest-list-items{
  list-style: none;
  display: flex;
  align-items: center;
  color: var(--color-black);
  gap: 0.5rem;
}
.suggest-list-items:not(:first-child){
    margin-top: 0.5rem;
}
.suggest-items-image{
    width: 3rem;
    height: auto;
}
.suggest-list-title{
    font-size: 0.8rem;
    font-weight: 500;
}
.release-date-info{
    font-size: 0.89rem;
    font-weight: 700;
}
.release-date-info::after{
  content: "\2022";
    padding: 0 0.3rem;
}
.percentage-info{
    color: var(--color-black-variant);
    font-weight: 600;
    font-size: 0.75rem;
}
/*--CHOOSE IMAGE SECTION--*/
/* #choose-image{
    padding: ;
} */
.choose-image-container > div{
    margin-top: 1.5rem;
}
.choose-image-row{
    display: flex;
    justify-content: space-between;
}
.choose-image-content-wrapper{
    height: auto;
}
.image-relative-box{
    position: relative;
    width: 20rem;
    height: 15rem;
    background: red;
}
.image-container{
    width: 100%;
    height: 100%;
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-popup-text{
    position: absolute;
    width: 100%;
    display: none;
    top: calc(50% - 2%);
    left: 50%;
    transform: translate(-50%);
    background: var(--color-bg-4);
    padding: 0.5rem;
}
.pop-up-header{
    text-align: center;
    text-transform: uppercase;
    font-size: 0.95rem;
    font-weight: 600;
}
.image-relative-box:hover .image-popup-text{
    display: block;
}


